<div class="container title">
<% if (page.title) { %>
  <h2><%= page.title %> (<%= site.tags.length %>)</h2>
<% } %>

  <div id="tagcloud">
    <%- tagcloud({
      min_font: 14,
      max_font: 36,
      color: true,
      start_color: '#9E9E9E',
      end_color: '#212121'
    }) %>
  </div>
</div>
