<div class="container title">
    <form name="contact" action="/thanks" netlify netlify-honeypot="bot-field" >
        <p>Name:<br/><input type="text" name="name" size="60"></p>
        <p>Email:<br/><input type="text" name="email" size="60"></p>
        <p>Message:<br/><textarea name="message" cols="60" rows="10"></textarea></p>
        <p><button type="submit">Send</button></p>
        <p style="display:none;">Don’t fill this out:<br/><input name="bot-field"></p>
    </form>
</div>
