<div class="container title text-right">
    <%
        const beginner = site.categories.filter((c) => { return c.name === 'beginner' }).data[0];
        const intermediate = site.categories.filter((c) => { return c.name === 'intermediate' }).data[0];
        const expert = site.categories.filter((c) => { return c.name === 'expert' }).data[0];
        const perf = site.categories.filter((c) => { return c.name === 'performance' }).data[0];
    %>
        <%- link_to(beginner.path, _.capitalize(beginner.name), { class: 'btn btn-primary btn-sm' }) %>
        <%- link_to(intermediate.path, _.capitalize(intermediate.name), { class: 'btn btn-primary btn-sm' }) %>
        <%- link_to(expert.path, _.capitalize(expert.name), { class: 'btn btn-primary btn-sm' }) %>
        <%- link_to(perf.path, _.capitalize(perf.name), { class: 'btn btn-primary btn-sm' }) %>
</div>

<div class="band">
    <% page.posts.each(function(item, index) { %>
    <%- partial('_partial/article-excerpt', {item: item, index:index+1}) %>
    <% }); %>
</div>

<%- partial('_partial/pagination') %>
