<html>
<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>

    <main class="page main-page">
        <%- body %>
    </main>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/google-analytics') %>
</body>

</html>
