<div class="item-0<%=index%>">
  <a href="<%- config.root %><%- item.path %>" class="post">
    <div class="thumb" style="background-image: url(<%- item.featured_image || theme.featured_image %>);"></div>
    <article>
      <h1>
        <%=item.title %>
      </h1>
      <p>
        <%- item.summary || item.excerpt %>
      </p>
      <span>
        <%= item.date.format(config.date_format) %></span>
    </article>
  </a>
</div>
