<% if(page.prev) { index+=1 }%>

<div class="item-<%=index%>">
  <a href="<%- config.root %><%- item.path %>" class="post">
    <div class="thumb" style="background-image: url(<%- item.featured_image || theme.featured_image %>);"></div>
    <article>
      <h1>
        <%=item.title %>
      </h1>
      <% if(index != 1){ %>
      <p>
        <%- item.summary || item.excerpt %>
      </p>
      <% } %>
      <span>
        <i class="far fa-calendar-alt"></i> <%= item.date.format(config.date_format) %>
        &nbsp; &nbsp;
        <i class="far fa-clock"></i> <%= item.duration %>
      </span>

    </article>
  </a>
</div>
