<% if (item.categories && item.categories.length) { %>
    <% item.categories.forEach(function(category){ %>
<a href="<%- url_for(category.path) %>"><i class="far fa-folder-open"></i> <%= _.capitalize(category.name) %> </a>
    <% })%>
<% } %>
