<footer class="page-footer">
  <div class="container">
    <p>Learn Card Magic is the best online collection of curated videos to quickly learn to perform card magic tricks</p>
    <a href="<%- url_for('/contact') %>"><i class="far fa-envelope"></i> Contact Us</a>
  </div>
</footer>
