<% if (site.categories && site.categories.length) { %>
<section id="categories">
    <span><b>Categories</b></span>
    <%
      const beginner = site.categories.filter(c => c.name === 'beginner').data[0];
      const intermediate = site.categories.filter(c => c.name === 'intermediate').data[0];
      const expert = site.categories.filter(c => c.name === 'expert').data[0]
      const performance = site.categories.filter(c => c.name === 'performance').data[0]
    %>
    <p>
        <a href="<%- url_for(beginner.path) %>"><i class="far fa-folder-open"></i> <%= _.capitalize(beginner.name) %></a><br/>
        <a href="<%- url_for(intermediate.path) %>"><i class="far fa-folder-open"></i> <%= _.capitalize(intermediate.name) %></a><br/>
        <a href="<%- url_for(expert.path) %>"><i class="far fa-folder-open"></i> <%= _.capitalize(expert.name) %></a><br/>
        <a href="<%- url_for(performance.path) %>"><i class="far fa-folder-open"></i> <%= _.capitalize(performance.name) %></a><br/>
    </p>
</section>
<% } %>

<% if (page.tags && page.tags.length) { %>
<section id="suggested-videos">
    <span><b>Suggested Videos</b></span>
    <ul>
    <% page.tags.each(function(tag) { %>
        <% tag.posts.each(function(post) { %>
            <% if (post.title != page.title) { %>
        <li><a href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post.no_title') + ')' %></a>
            <% } %>
        <% }); %>
    <% }); %>
    </ul>
</section>
<% } %>


<% if (theme.sidebar.tldr && theme.sidebar.tldr.length){ %>
<%
theme.sidebar.tldr.forEach(function(tldr){%>
<span><b>
        <%=tldr.title%></b></span>
<p>
    <%=tldr.content%>
</p>
<hr />

<% })} %>


<% if(theme.sidebar.twitter.enabled){ %>

<span><a href="https://twitter.com/<%=theme.sidebar.twitter.username%>" target="_blank" rel="noopener"><b><i class="fab fa-twitter-square"></i>
            <i class="fas fa-at"></i>
            <%=theme.sidebar.twitter.username%></b></a></span>
<br />
<a class="twitter-timeline" data-height="<%=theme.sidebar.twitter.height%>" data-dnt="true" data-chrome="nofooter transparent noheader noborders "
    href="https://twitter.com/<%=theme.sidebar.twitter.username%>?ref_src=twsrc%5Etfw"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% } %>
